<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>project</display-name>
  	<error-page>
		<error-code>404</error-code>
		<location>/redirect.jsp</location>
	</error-page>
	  	<error-page>
		<error-code>500</error-code>
		<location>/redirect.jsp</location>
	</error-page>
	<filter>
		<filter-name>RedirectFilter</filter-name>
		<filter-class>edu.whu.system.tools.RedirectFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>BaseExcelServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>BaseServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>ChooseRoleServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>FinancialExcelForInnerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>FinancialExcelForOuterServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>FinancialExcelServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>JudgeExcelServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>MessageServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>PreviewExcelOutputServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>ReadMessageServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>RedirectFilter</filter-name>
		<servlet-name>StuDistributeExcelServlet</servlet-name>
	</filter-mapping>
</web-app>